* {
  margin: 0;
}

.app {
  background-color: #fafafa;

}


/* JUSTIFY CONTENT SPACE BETWEEN-- USE THIS!!! */
.app__header {
  /* position: sticky;
  top: 0;
  z-index: 1; */
  background-color: white;
  padding: 5px 0px 5px 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
}

.app__headerImage {
  height: 60px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__subheader {
  /* background-color: #ECECEC; */

  background-color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  padding: 10px 5rem;
}

.app__subheaderText {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5rem;
}

.app__loginContainer {
  border: 1px solid lightgray;
}

.app__posts {
  padding: 20px;
}

.app__icon {
  color: lightgray;
  margin-right: 30px;
}

.app__icon:hover {
  color: maroon;
}

.app__welcomeTextWrapper {
    margin-right: 120px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
 background-color: #fafafa;

}

.app__welcomeText {

  text-align: center;
  color: #9A1933;
}
